@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #18181b;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sobreMim{
  background-color: rgb(15, 15, 15);
}

