@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #18181b;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sobreMim{
  background-color: rgb(15, 15, 15);
}

.fundoCards{
  background-color: #D1CDC1;
}

.fundoCards:hover{
  background-color: #fff;
  transition: 0.3s;
}

.formacao{
  background-color: white;
}

.fundoCards:hover .formacao{
  background-color: #FCEFCC;
  transition: 0.3s;
}

.tag{
  background-color: white;
}

.fundoCards:hover .tag{
  background-color: rgb(236, 233, 233);
  transition: 0.3s;
}